<h1>Listing bears</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Description</th>
    <th>Habitat</th>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bears.each do |bear| %>
  <tr>
    <td><%= bear.name %></td>
    <td><%= bear.color %></td>
    <td><%= bear.description %></td>
    <td><%= bear.habitat %></td>
    <td><%= bear.picture %></td>
    <td><%= link_to 'Show', bear %></td>
    <td><%= link_to 'Edit', edit_bear_path(bear) %></td>
    <td><%= link_to 'Destroy', bear, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bear', new_bear_path %>
