<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bear.name %>
</p>

<p>
  <b>Color:</b>
  <%= @bear.color %>
</p>

<p>
  <b>Description:</b>
  <%= @bear.description %>
</p>

<p>
  <b>Habitat:</b>
  <%= @bear.habitat %>
</p>

<p>
  <b>Picture:</b>
  <%= @bear.picture %>
</p>


<%= link_to 'Edit', edit_bear_path(@bear) %> |
<%= link_to 'Back', bears_path %> |
<%= link_to 'Delete', bears_path(@bear), method: "delete", data: {confirm: 'Are you sure?'}%>
